
:root{
    --gap:1.25rem;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

/* Scrollbar Kit */
::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}


    /* Default Classes */

    
.container{
    width: 1320px;
    margin: auto;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
*{
    box-sizing: border-box;
    margin: 0;
}

/* Start Header */
.header{
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px #0000001b;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar{
    padding:25px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .links ul{
    display: flex;
    gap: 25px;
}
.navbar .links li{
    font-family: "Open Sans", sans-serif; 
    font-weight: 600;  
}
.navbar .logo h1{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}
.navbar .logo span{
   color: #ce3347;
}
.navbar .light-mood i{
    font-size: 25px;
}

/* End Header */



/* Start HomeScreen (Landing) */
.landing {
    background-color: #eeeeee;
    height: 100vh;
    display: flex; /* Add display:flex to the parent container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: -999;
}

.landing .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .caption{
    width: 524px;
}
.content .home-logo{
    width: fit-content;
    filter: drop-shadow(4px 4px 9px #000a);
}

.content .home-logo img{
    width: 524px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .shake-element:hover {
    animation: shake 1.1s ease infinite;
  }
.content .caption h2{
    font-size: 65px;
    font-family: "Amatic SC", sans-seris;
}
.content .caption p{
    margin-block: 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #4f4f5a;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 10px;
}

.content .btn-group{
    display: flex;
}
.content .btn-group .book-table-btn{
    color: #fff;
    font-size: 15px;
}
.content .btn-group .book-table-btn{
    background-color:hsl( 0, 84%, 44% );
    padding: 15px 30px;
    border: 0px;
    border-radius: 0px 25px 25px 25px;
}
.btn-group .watch-btn{
    margin-left: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    position: relative;
    transition: all ease .5s;
}
.btn-group .watch-btn span{
    font-weight: 500;
}
.watch-btn .icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(65%, -70%);
    z-index: 111;
}
.watch-btn .icon{
    width:25px;
    height: 100%;
    padding: 0px;
    background-color:hsl( 0, 84%, 44% );
    border-radius: 100px 0 0 100px;
}
.watch-btn .icon::after{
    content: "";
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.watch-btn:hover{
    color: #ce3347;
}

/* End HomeScreen (Landing) */

/* Start Our-CHEFS Section */

.our-chefs{
    padding: 100px 0;
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    color: #7f7f90;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.section-title p{
    font-size: 3.125rem;
    font-family: "Amatic SC", sans-seris;
}
.section-title span{
    color: #ce3347;
}
.chef-cards{
    display: flex;
}
.chef-card{
    width: 33.333%;
    background-color: #fff;
    margin: 13px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all ease .5s;
    position: relative;
    overflow: hidden;
}
.chef-card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chef-card picture{
   position: relative;
}
.chef-card picture:before{
    content:"";
    width: 100%;
    height: 3.75rem;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(../assets/images/team-shape.svg);
    background-repeat: repeat-x;
}
.chef-card .card-content{
    text-align: center;
    padding: 10px 25px 25px 25px;
}

.chef-card .card-content span{
    padding: 10px 0;
    font-size: 14px;
    color: #7f7f90;
}
.chef-card .card-content p{
    margin: 5px 0px 10px;
    font-size: 0.9375rem;
    font-style: italic;
    color:#7f7f90;
}

.chef-card .social-bolck{
    background-color:#ffffff4d;
    position: absolute;
    top: 30px;
    right: 15px;
    transform: translateX(100px);
    z-index: 999;
    border-radius: 10px;
    transition: all ease .5s;
}
.chef-cards .chef-card:hover{
    scale: 1.06;
}
.chef-cards .chef-card:hover .social-bolck{
    transform: translateX(0px);
    transition-delay: .30s;
}
.social-bolck .social-icons{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.social-bolck .social-icons li{
   padding: 10px;
}
.social-bolck .social-icons li a{
   opacity: .4;
   transition: all ease .5s;
}
.social-bolck .social-icons li a:hover{
   opacity: 1;
}

/* Start Our Gallery Section */

.our-gallery{
    padding: 100px 0px;
    background-color: #eeeeee;
    
}

.our-gallery .gallery-photos{
    height: 72.8125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.our-gallery .gallery-photos .picture{
        width: calc(33.33% - 1.25rem);
        border: 4px solid #fff;
        z-index: 2;
        position: relative;
        overflow: hidden;
}
.our-gallery .gallery-photos .picture img{
        width: 100%;
        display: block;
}

.picture .meal-1, 
.picture .meal-2{
    order: 1;
}
.picture .meal-3, 
.picture .meal-4{
    order: 2;
}
.picture .meal-5, 
.picture .meal-6,
.picture .meal-7{
    order: 3;
}




.our-gallery .gallery-photos .picture .layer{
       width: 100%;
       height: 100%;
       padding: 0.9375rem;
       background-color: #00000096;
       position: absolute;
       top: 100%;
       left: 0;
       z-index: 99;
       display: flex;
       flex-direction: column;
       gap: 5px;
       justify-content: center;
       align-items: center;
       color: #fff;
       transition: all  cubic-bezier(.31,.01,0,.99) .6s ;
}
.our-gallery .gallery-photos .picture:hover .layer{
       width: 100%;
       height: 100%;
       padding: 0.9375rem;
       background-color: #00000096;
       position: absolute;
       top: 0%;
       left: 0;
       z-index: 99;
       display: flex;
       flex-direction: column;
       gap: 5px;
       justify-content: center;
       align-items: center;
       color: #fff;
}
/* End Our Gallery  */

/* Start Contact US */

.contact-us{
    padding: 100px 0;  
}


/*  Section 3 - 5 - footer */